@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');

#call2action {
    text-align: center;
    padding-top: 24px;
    color: #33375F;
    font-weight: bold;
    font-size: 28px;
    background-color: #F5F5FA;
}

#searchform {
    text-align: center;
    padding-top: 24px;
    background-color: #F5F5FA;
    padding-bottom: 24px;
}

#searchbutton {
    background: linear-gradient(135deg, #3043FD 0%, #33375F 100%);
    border-radius: 36px;
    border: 0px solid;
    color: white;
    padding: 8px 16px 9px 16px;
    font-weight: bold;
    font-family: Raleway;
    margin-left: -90px;
    cursor: pointer;
}

#commentaire {
    font-size: 16px;
    font-weight: bold;
    color: #33375F;
}

body{ font-family: Raleway;}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: #F5F5FA;}

td{font-size: 10pt;}
th{font-size: 10pt;}
p{font-size: 10pt;}
label{font-size: 10pt;}

a{ color:#33375F; }

#map {
    height: 500px;
    border: 1px solid black;
}